/*Colours
 blue #48AFB2
 lightblue #98CACD
 pastelblue #A7C3C9
 black #484F5B
 lightgray #D2DDE3
 white #FBFCFC*/

body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
    opacity: 0.7;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
    background-image: url('../img/background.jpg');
    min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
    background-image: url("../img/drawing.jpg");
    background-position: top;
    min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
    background-image: url("../img/coffee.jpg");
    min-height: 400px;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

#googleMap {
    width: 100%;
    height: 400px;
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%);
}

/* Turn off parallax scrolling for tablets and mobiles */
@media only screen and (max-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}


/*Customize lib*/

body {
    background-color: #FBFCFC;
}

.w3-display-middle {
    top: 80%;
}

ul.w3-ul {
    display: flex;
}

ul.w3-ul li {
    padding: 0;
    border-bottom: none;
}

a {
    text-decoration: none;
}

footer {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.contact-link {
    display: block;
    padding: 5px 10px;
    font-size: 0;
}

ul.w3-ul li:hover .fa {
    /*color: red;*/
}

.w3-ul.w3-hoverable li:hover {
    background-color: #48AFB2;
}

.bg-blue {
    background-color: #48AFB2;
    color: #FBFCFC;
}

.bg-black {
    background-color: #484F5B;
    color: #FBFCFC;
}

